@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217 33% 20%;
    --card: 0 0% 100%;
    --card-foreground: 217 33% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 33% 20%;
    --primary: 215 100% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 188 74% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 100% 21%;
    --chart-1: 215 100% 21%;
    --chart-2: 188 74% 39%;
    --chart-3: 158 83% 42%;
    --chart-4: 207 55% 51%;
    --chart-5: 240 5% 34%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 215 100% 21%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    -sidebar-ring: 215 100% 21%;
  }
  .dark {
    --background: 217 33% 10%;
    --foreground: 0 0% 98%;
    --card: 217 33% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 217 33% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 55% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 33% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 188 74% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 207 55% 51%;
    --chart-1: 207 55% 51%;
    --chart-2: 188 74% 39%;
    --chart-3: 158 83% 42%;
    --chart-4: 215 100% 21%;
    --chart-5: 240 5% 65%;
    --sidebar-background: 217 33% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 207 55% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 217 33% 20%;
    --sidebar-ring: 207 55% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
}
